.Icecream {
    width: 700px;
    margin: auto;
    height: 600px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}

@media (max-width: 500px){
    .Icecream {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 700px) and (min-width: 501px){
    .Icecream {
        width: 500px;
        height: 400px;
    }
}
